<h1>ngClass Directive: 
    The ngClass directive is used to add or remove CSS classes to an HTML element.</h1>
<h1>Angular ngClass Directive Example - 
    ItSolutionstuff.com</h1>
<!-- Example 1: ngClass with a String-->
<button [ngClass]="'btn btn-success'">Click Me!</button> 
<!--Example 2: ngClass with a Array--> 
<button [ngClass]="['btn', 'btn-danger']">Click Me!</button> 
<!-- Example 2: Example 3: ngClass with a Object--> 
<button [ngClass]="{'btn': isButtonClass, 'btn-primary': true}">Click Me!</button>