<!-- <h1>{{data}}</h1>
<h2>Event Binding</h2>
 <button (click)="showData($event)">Click here</button>
 <app-test></app-test>
 <app-model></app-model>
 <app-directive></app-directive>
 <app-for-loop></app-for-loop>
 <app-switch></app-switch>
 <app-ngstyle></app-ngstyle>
 <app-ngclass></app-ngclass>
 <app-pipe-date></app-pipe-date> -->
 <!-- <app-bootstrap></app-bootstrap> -->
 <!-- <app-forms></app-forms> -->
 <!-- <app-formvalidation></app-formvalidation> -->
 <!-- <app-formvalidation></app-formvalidation> -->
 <!-- <app-formvalidate></app-formvalidate> -->
 <!-- <router-outlet></router-outlet> -->
 <app-reactiveform></app-reactiveform>