<h2>Event Binding Works!</h2> 
<button (click)="showData($event)">Test Data</button>
<button (click)="displayData($event)">Print Data</button>
<br>
User Name:<input type="text" [value]="userName"><br><br>
Location:<input type="text" [value]="location"><br><br>
<p [style.color]="redClass" class="height">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, tempora?</p>
<p [style.color]="blueClass">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, iste! Eos minus facere ab, natus cumque neque illum, rem, nam obcaecati molestiae at dolor vel quo iure quasi officiis ullam.</p>
<p [style.font-size]="font1" [style.color]="font">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, deserunt.</p>

